body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  background-size: cover;
}
hr{
  border-width: 3px;
  max-width: 65px;
  background-color:#f05f44 ;
}
h1{
  color: #e2dbdb;
  font-size: 3em;
}
.btn-xl{
  padding: 1rem 2rem;
}
.btn{
  font-weight: 500;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-primary{
  background-color: blue;
  border-color:blue ;
}
.btn-primary:hover{
  background-color:#f05f44 ;
  border-color: #f05f44;
  border-width: 4px;
}
.buffer{
  height: 5rem;
}
